body{
	background-image: url("../res/bg.png");
}
.largeFont{
	font-size: 5em!important;
}
p{
	font-family: 'Overlock SC';
	color: white;
}
.jumbotron{
	background-color: rgba(194,204,209,0.65)!important;
}
.try{
	width: 200px;
	height: 40px;
	background-color: rgba(0, 94, 204, 0.9);
	margin: auto;
	border-radius: 8px;
	box-shadow: 2px 3px 2px black;
}
#navbar{
	background-color: black;
	width: 100%;
}
#navbar ul {
  list-style: none;
  margin: 0;
  padding-right: 30px;
  padding-top: 10px;
}
#navbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: 'Exo';
  font-size: 20px;
  font-weight: 600;
}
#navbar ul li a{
	text-decoration: none;
	background-color: black;
	padding: 12px 15px;
}
#navbar ul li a:hover{
	background-color: #404040;
}
#navbar ul li a.current{
	color: #084b77;
}
.main { 
	height: 850px;
	background: url('../res/science.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.9;
}
.mycontainer{
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 200;
}