img.element{
    position: absolute;
    /* The Way clip works in CSS: clip: rect(top,right,botom,left); Clip uses the size of the image. Right and Bottom represent 
    the highest amount of pixels and the dimensions of the image when clipped. Left and Top work in a way when you make the number
    higher, it clips more */
    clip: rect(8px,92px,95px,8px);
}
#PeriodicTable{
	width: 1500px;
	height: 975px;
}
.headingText {
    font-size: 5em!important;
}
.mendeleevList{
    font-size: 140%;
}
#BackToTop{
    font-size: 120%;
}